<mat-toolbar class="header">
    <mat-toolbar-row>
        <mat-button-toggle-group class="toggle-group">
            <mat-button-toggle value="Home" routerLinkActive="mat-button-toggle-checked" routerLink="/products">
                Products
            </mat-button-toggle>
            <mat-button-toggle value="ProjectTracking" routerLinkActive="mat-button-toggle-checked" routerLink="/cart">
              <mat-icon>shopping_cart</mat-icon>Cart
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar-row>
</mat-toolbar>
