@import '../../variables';

.container {
  font-family: $font-family-base;
  width: 80%;
  margin: 0 auto;
  .header-wrapper {
    display: flex;
    justify-content: space-around;
    background-color: $light-white;
    p {
      color: $black;
      text-align: center;
      &:first-child {
        width: 10%;
      }
      width: 45%;
    }
  }
  .product-wrapper {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $gray;
    align-items: center;
    p {
      text-align: center;
      &:first-child {
        width: 10%;
      }
      width: 45%;
      .mat-icon {
        cursor: pointer;
      }
    }
    &:nth-child(odd) {
      background: $background;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
  .total-wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
    span {
      background: $light-white;
      padding: 10px 25px;
      border-radius: 5px;
    }
  }
  .back {
    display: flex;
    justify-content: space-between;
  }
}
