
// fonts
$font-family-base: "Didact Gothic", sans-serif;
$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// colors
$background: #eee;
$black: #000;
$gray: #999;
$white: #fff;
$light-white: #d0d0d0;



